<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/png" href="../static/logo.png"/>
    <div class="site-logo">
        <img src="../static/img1.png" alt="logo">
      </div>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summarizer</title>
  <link
      href="{{ url_for('static', path='../static/styles.css') }}"
      rel="stylesheet"
    />
</head>
<body>

<script src="../static/app.js">

</script>
  <form id="myform" name="confirmationForm" method="post">
    
    <textarea id="confirmationText1" class="text" cols="86" rows ="20" name="confirmationText">your text here...
    </textarea>

    <div class="button" onclick="submit()">
      </div>

    <textarea id="confirmationText2" class="text" cols="86" rows ="20" name="confirmationText">output</textarea>

   
</form>

<div id="copyrights">
    <p>&copy; Faouzi RJILI</p>
  </div>

  <div id="dddd">

    <p id="beforep"></p>
    <p id="afterp"></p>
    <p id="reducedp"></p>

  </div>

 
   
  
</body>
</html>