<!DOCTYPE html>
<html lang="en">
<head>

  <link
      href="{{ url_for('static', path='../static/styles.css') }}"
      rel="stylesheet"
    />
  <link rel="shortcut icon" type="image/png" href="../static/logo.png">

    
    
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summarizer</title>
</head>
<body>

<script src="../static/app.js"></script>
<div class="site-logo">
  <img src="../static/img1.png" alt="logo">
</div>

  <form id="myform" name="confirmationForm" method="post">
    
    <textarea id="confirmationText1" class="text" cols="86" rows ="20" name="confirmationText">your text here...
    </textarea>

    <div class="button" onclick="submit()">
      </div>

    <textarea id="confirmationText2" class="text" cols="86" rows ="20" name="confirmationText">output
    </textarea>

</form>

<div id="copyrights">
    <p>&copy; Faouzi RJILI</p>
  </div>

  <div id="stats">
    <p >before</p>
    <p >after</p>
    <p >reduced by</p>
  </div>


</body>
</html>